.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column; 
}

.space-between {
  justify-content: space-between;
}

.screen-height {
  min-height: 100vh
}

.hr-center{
  justify-content: center;
}

.vr-center {
  align-items: center;
}

.hidden {
  display: none;
}
